[common]
application.baseUri="/"
application.directory = APPLICATION_PATH  "/application"
application.dispatcher.defaultModule = index
application.dispatcher.defaultController = index
application.dispatcher.defaultAction = index
application.dispatcher.catchException=1
application.dispatcher.throwException=1
application.modules=index,data
application.view.ext = "phtml"

;smarty
smarty.config_dir = APPLICATION_PATH "/cache/config"
smarty.cache_dir = APPLICATION_PATH "/cache/cache"
smarty.plugins_dir = APPLICATION_PATH "/cache/plugins"
smarty.template_dir = APPLICATION_PATH "/application/views/"
smarty.compile_dir = APPLICATION_PATH "/cache/compiled"
smarty.caching = 0
smarty.cache_lifetime = 600
smarty.left_delimiter  = "<{"
smarty.right_delimiter  = "}>"


;memcache
memcache.open = true
memcache.params.host = "xxxxxxxxxx"
memcache.params.port = "11211"
memcache.params.timeout = 300
memcache.params.pre = "melon"

;生产环境
[product : common]

;database
database.option.charset = "utf8"
database.option.database_name =  "dbname"
database.option.server = "localhost"
database.option.username = "username"
database.option.password = "password"
database.option.port = 3306

application.debug = false

;开发环境
[development : product]

;database
database.db1.charset = "utf8"
database.db1.database_name =  "database_name1"
database.db1.server = "111.111.111.111"
database.db1.username = "username"
database.db1.password = "password"
database.db1.port = 3306

database.db2.charset = "utf8"
database.db2.database_name =  "database_name2"
database.db2.server = "111.111.111.111"
database.db2.username = "username"
database.db2.password = "password"
database.db2.port = 3306

application.debug = true

